@font-face { font-family: Delicious; src: url('font/Dosis-VariableFont_wght.ttf'); } 
:root{
    font-family: Delicious;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /*grid-template-rows: 20vh 80vh;
    grid-template-columns: 20vw 60vw 20vw;*/
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 15vw 70vw 15vw;
    resize: both;
    
}
#header1{
    grid-area: 1/2/2/4;
    background-color: aqua;
}
#header2{
    grid-area: 2/2/3/4;
    background-color: pink;
}
#l_bar{
    grid-area: 1/1/4/2;
    background-color: blue;
    display: grid;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    color: aliceblue;
    gap: 10vh;
    
}
#logo{
    grid-row: 1/1;
    font-size: 30px;
    font-weight: bolder;
}
#bart{
    grid-row: 2/3;
}
#barb{
    grid-row: 3/4;
}
#l_bar>div{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#l_bar>div>div{
    display: flex;
    gap: 2px; 
}
#r_bar{
    grid-area: 3/3/4/4;
    background-color: blueviolet;
}
#main{
    grid-area: 3/2/4/3;
    background-color:red;
}
#header1{
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(5,1fr);
}
#sl{
    grid-column: 2/3;
    grid-row: 2/3;
}
#sf{
    grid-column: 6/14;
    grid-row: 2/4;
    border-radius: 10px;
}
#nl{
    grid-column: 17/18;
    grid-row: 2/3;
}
#hl{
    grid-column: 19/20;
    grid-row: 2/3;
}
#user{
    grid-column: 20/21;
    grid-row: 2/3;
}

