@font-face { font-family: Delicious; src: url('font/Dosis-VariableFont_wght.ttf'); } 
:root{
    font-family: Delicious;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /*grid-template-rows: 20vh 80vh;
    grid-template-columns: 20vw 60vw 20vw;*/
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 20vw 60vw 20vw;
    resize: both;  
    background-color: aliceblue; 
}
#l_bar{
    padding-left: 2vw;
    grid-area: 1/1/4/2;
    background-color:#0284c7;
    display: grid;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    color: aliceblue;
    gap: 10vh;
    font-size: 2vh;
    font-weight: bold;
    
}
#logo{
    grid-row: 1/1;
    font-size: 30px;
    font-weight: bolder;
}
#bart{
    grid-row: 2/3;
}
#barb{
    grid-row: 3/4;
}
#l_bar>div{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#l_bar>div>div{
    display: flex;
    gap: 2px; 
}
#r_bar{
    grid-area: 3/3/4/4;
}
#header1{
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(5,1fr);
    color: black;
    font-size: 1vw;
}
#sl{
    grid-column: 2/3;
    grid-row: 2/3;
}
#sf{
    grid-column: 6/14;
    grid-row: 2/4;
    border-radius: 10px;
    background-color: antiquewhite;
}
#nl{
    grid-column: 16/17;
    grid-row: 2/3;
}
#hl{
    grid-column: 17/18  ;
    grid-row: 2/3;
}
#user1{
    grid-column: 18/21;
    grid-row: 2/3;
    font-weight: bold;
}
#header2{
    grid-area: 2/2/3/4;
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(5,1fr);
}
#lh2{
    grid-column: 2/5 ;
    grid-row:2/5 ;
}
#grt{
    grid-column:6/8 ;
    grid-row:2/3 ;
    font-size: 1vw;
    font-weight: bold;
}
#user2{
    grid-column: 6/13;
    grid-row: 3/5;
    font-size: 2vw;
    font-weight: bold;
}
#handle{
    grid-column: 13/15;
    grid-row: 3/5;
    font-size: 2vw;
    font-weight: bold;
}
button{
    border-radius: 40px;
    background-color: #0284c7;
    color: aliceblue;
}
#bn{
    grid-column: 29/32;
    grid-row: 2/4;
}
#bu{
    grid-column:33/36 ;
    grid-row:2/4 ;
}
#bs{
    grid-column: 37/40 ;
    grid-row: 2/4 ;
}
#r_bar{
    display: grid;
    grid-template-rows: repeat(20,1fr);
    padding: 20px;
}
#ann{
    grid-row: 2/10;
    font-size: 2.5vh;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 6fr;
}
#ann>div{
    grid-row: 2/10;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 8px -4px;
    padding:10px;
}
#tren{
    grid-row: 10/20;
    display: grid;
    grid-template-rows: 1fr 9fr;
}
#tren>div{
    height: 70%;
    grid-row: 2/10;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 8px 8px -4px ;
    padding: 10px;
}
#ann>div>div{
    font-weight: bold;
    font-size: 1.5vh;
    gap: 5px;
    box-shadow: 0 3px 3px -4px ;
}
#ann>div>div>div{
    font-weight: lighter;
}
#tren{
    font-size: 2.5vh;
    font-weight: bold;
}
#tren>div>div{
    font-size: 1.5vh;
    box-shadow: 0 3px 3px -4px ;
}

#main{
    font-size: 2.5vh;
    font-weight: bold;
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding: 10px;

}
#main>div{
    grid-row: 2/3;
    font-size: 2vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,fr);
    gap: 2vh;
    padding: 2vh;
   
}
#main>div>div{
    font-size: 1.5vh;
    font-weight: bold;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 8px -4px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#main>div>div>div{
    font-weight: lighter;
}
#main>div>div>div:nth-child(2){
    background-color: #0284c7;
    display: flex;
    justify-content: flex-end;
}