@font-face { font-family: Delicious; src: url('font/Dosis-VariableFont_wght.ttf'); } 
:root{
    font-family: Delicious;
}
html,body{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    /*grid-template-rows: 20vh 80vh;
    grid-template-columns: 20vw 60vw 20vw;*/
    grid-template-rows: 10vh 10vh 80vh;
    grid-template-columns: 15vw 70vw 15vw;
    resize: both;
    
}

#l_bar{
    grid-area: 1/1/4/2;
    background-color: blue;
    display: grid;
    grid-template-rows: 2fr 4fr 4fr 2fr;
    color: aliceblue;
    gap: 10vh;
    
}
#logo{
    grid-row: 1/1;
    font-size: 30px;
    font-weight: bolder;
}
#bart{
    grid-row: 2/3;
}
#barb{
    grid-row: 3/4;
}
#l_bar>div{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
#l_bar>div>div{
    display: flex;
    gap: 2px; 
}
#r_bar{
    grid-area: 3/3/4/4;
    background-color: blueviolet;
}
#main{
    grid-area: 3/2/4/3;
    background-color:red;
}
#header1{
    grid-area: 1/2/2/4;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(5,1fr);
    color: black;
    font-size: 1vw;
}
#sl{
    grid-column: 2/3;
    grid-row: 2/3;
}
#sf{
    grid-column: 6/14;
    grid-row: 2/4;
    border-radius: 10px;
    border: 5px;
    border-color: black;
}
#nl{
    grid-column: 16/17;
    grid-row: 2/3;
}
#hl{
    grid-column: 17/18  ;
    grid-row: 2/3;
}
#user1{
    grid-column: 18/21;
    grid-row: 2/3;
    font-weight: bold;
}
#header2{
    grid-area: 2/2/3/4;
    display: grid;
    grid-template-columns: repeat(40,1fr);
    grid-template-rows: repeat(5,1fr);
}
#lh2{
    grid-column: 2/5 ;
    grid-row:2/5 ;
}
#grt{
    grid-column:6/8 ;
    grid-row:2/3 ;
    font-size: 1vw;
    font-weight: bold;
}
#user2{
    grid-column: 6/13;
    grid-row: 3/5;
    font-size: 2vw;
    font-weight: bold;
}
#handle{
    grid-column: 13/15;
    grid-row: 3/5;
    font-size: 2vw;
    font-weight: bold;
}
button{
    border-radius: 40px;
    background-color: #0284c7;
    color: aliceblue;
}
#bn{
    grid-column: 29/32;
    grid-row: 2/4;
}
#bu{
    grid-column:33/36 ;
    grid-row:2/4 ;
}
#bs{
    grid-column: 37/40 ;
    grid-row: 2/4 ;
}